$rent: #e2a7b1;                 // Mortgage
$sport: #a1dad9;                // Sport
$personal-care: #b4cbdf;        // Personal Care
$groceries: #97c6e8;            // Groceries
$utilities: #a8aeb6;            // Utilities
$coffee-snacks: #d4cecb;        // Snacks & Coffee
$restaurant: #e7c687;           // Restaurant
$alcohol: #b0b1c3;              // Alcohol
$activities: #e0aacd;           // Activities
$shopping: #e2aaeb;             // Shopping
$travel: #eda3ad;               // Flights
$investments: #8eabc9;          // Education
$savings: #8eabc9;              // Education
$snacks-and-coffee: #d4cecb;    // Snacks & Coffee
$subscriptions: #dba78d;        // Subscriptions
$transport: #88cadc;            // Transport
$insurance: #a5dbdb;            // Insurance
$healthcare: #e4b0ad;           // Healthcare
$education: #8eabc9;            // Education
$gifts: #bcb9cc;                // Gifts
$other: #d8a7be;                // Other
$pharmacy: #a0d0d9;             // Pharmacy
$maintenance: #a5c9de;          // Maintenance
$tax: #cbd4dd;                  // Tax
$acommodation: #b8c5b8;         // Accommodation
$flights: #eda3ad;              // Flights